$primary-color: #fa4c5a;
$text-color: #291667;
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  padding: 5rem;
  background-color: #fbfbfd;
  min-height: 100vh;
  font-size: 1.5rem;
}
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin flexbox(
  $align: stretch,
  $justify: flex-start,
  $direction: row,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
// .checkbox {
//   &__input {
//     display: none;
//     &:checked + .checkbox__label::after {
//       opacity: 1;
//       visibility: visible;
//     }
//   }
//   &__label {
//     position: relative;
//     font-size: 1.5rem;
//     padding-left: 5rem;
//     cursor: pointer;
//     &::before {
//       content: "";
//       @include size(4rem);
//       background-color: #fc556f;
//       position: absolute;
//       left: 0;
//       top: 50%;
//       transform: translateY(-50%);
//       border-radius: 1rem;
//     }
//     &::after {
//       content: "";
//       position: absolute;
//       top: 0;
//       left: 1rem;
//       @include size(2rem, 1rem);
//       transform: rotate(-45deg);
//       border-left: 3px solid white;
//       border-bottom: 3px solid white;
//       opacity: 0;
//       visibility: hidden;
//       transition: 0.25s linear;
//     }
//   }
// }
// .radio {
//   font-size: 1.5rem;
//   margin-top: 5rem;
//   margin-left: 5rem;
//   display: inline-block;
//   &__input {
//     display: none;
//     &:checked + .radio__label:before {
//       background-color: #fc556f;
//       // border: 2px solid #b7c1cb;
//       box-shadow: 0 0 0 4px #eee, 0 0 0 6px #fc556f;
//     }
//   }
//   &__label {
//     position: relative;
//     font-size: 1.5rem;
//     padding-left: 5rem;
//     cursor: pointer;
//     margin-left: 5rem;
//     &::before {
//       content: "";
//       @include size(2.5rem);
//       border-radius: 3rem;
//       background-color: #eee;
//       // border: 2px solid #b7c1cb;
//       box-shadow: 0 0 0 4px #eee, 0 0 0 6px #b7c1cb;
//       position: absolute;
//       left: 0;
//       top: 50%;
//       transform: translateY(-50%);
//       transition: 0.35 ease;
//     }
//   }
// }
// .checkbox2 {
//   &__input {
//     display: none;
//     &:checked + .checkbox2__label {
//       background-color: #767cfa;
//       .checkbox2__circle {
//         transform: translateX(5rem);
//         transition: 0.25s linear;
//       }
//     }
//   }
//   &__label {
//     display: inline-block;
//     @include size(10rem, 5rem);
//     background-color: #b7c1cb;
//     cursor: pointer;
//     border-radius: 5rem;
//     padding: 0.5rem;
//     transition: 0.25s linear;
//   }
//   &__circle {
//     @include size(4rem);
//     background-color: white;
//     border-radius: 100%;
//     transition: 0.25s linear;
//   }
// }
// .input__style {
//   padding: 2rem;
//   width: 100%;
//   font-size: 1.6rem;
//   color: #0b0c16;
//   border-radius: 5px;
//   border: 1px solid #b7c1cb;
//   outline: none;
//   &::-webkit-input-placeholder {
//     color: #b7c1cb;
//   }
//   &:focus {
//     border-color: #ff6953;
//     box-shadow: 0 0 0 4px #ffe1de inset;
//   }
// }
.signup {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba($color: black, $alpha: 0.2);
  padding: 5rem;
  @include flexbox(stretch, space-between);
  &__left,
  &__right {
    width: calc(50% - 2rem);
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
  &__heading {
    font-weight: bold;
    font-size: 4.5rem;
    margin-bottom: 3rem;
    color: $text-color;
  }
  &__caption {
    font-weight: bold;
    margin-bottom: 4rem;
    color: $primary-color;
    position: relative;
    padding-left: 12rem;
    &::before {
      content: "";
      position: absolute;
      width: 10rem;
      height: 2px;
      background-color: $primary-color;
      left: 0;
      top: 50%;
      margin-top: -1px;
    }
  }
  &-social {
    @include flexbox(stretch, space-between);
    margin-bottom: 4rem;
    &__item {
      padding: 1.5rem 2.5rem;
      background-color: white;
      border-radius: 6px;
      border: 1px solid #eee;
      cursor: pointer;
      @include flexbox(center, center);
      color: $text-color;
      width: calc(50% - 1.5rem);
      box-shadow: 0 0 1rem rgba($color: black, $alpha: 0.2);
      &:hover {
        opacity: 0.8;
      }
    }
    &__icon {
      margin-right: 2rem;
      font-size: 2.3rem;
      color: orange;
    }
  }
  &-form {
    @include flexbox(stretch, space-between, row, wrap);
    margin-bottom: 4rem;
    &__groug {
      margin-bottom: 1.5rem;
      // padding: 1.5rem 2.5rem;
      background-color: white;
      // border-radius: 6px;
      // border: 1px solid #eee;
      cursor: pointer;
      @include flexbox(center, center);
      color: $text-color;
      width: calc(50% - 1.5rem);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &:nth-child(3) {
        width: 100%;
      }
    }
    &__label {
      color: $text-color;
      margin-bottom: 0.5rem;
      padding-left: 1rem;
    }
    &__input {
      width: 100%;
      height: 3rem;
      font-size: 1.5rem;
      outline: none;
      border: 1px solid #eee;
      border-radius: 4px;
      box-shadow: 0 0 0.5rem rgba($color: black, $alpha: 0.2);
    }
    &__term {
      width: 100%;
      margin-bottom: 5rem;
      margin-top: 2rem;
      color: $text-color;
      input {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
      }
    }
    &__submit {
      width: 8rem;
      height: 8rem;
      background-color: $primary-color;
      color: white;
      border: none;
      border-radius: 3rem;
      box-shadow: 0 0 1rem rgba($color: black, $alpha: 0.2);
      cursor: pointer;
      & i {
        font-size: 2rem;
      }
    }
  }
}
@media screen and(max-width:1024px) {
  body {
    padding: 0;
  }
  .signup {
    @include flexbox(flex-start, flex-start, column);
    border-radius: 0rem;
    &__left,
    &__right {
      width: 100%;
    }
  }
}
@media screen and(max-width:768px) {
  .signup {
    @include flexbox(flex-start, flex-start, column);
    &__left,
    &__right {
      width: 100%;
    }
    &-social {
      @include flexbox(flex-start, flex-start, column);
      &__item {
        width: 100%;
        margin-bottom: 2rem;
      }
    }
    &-form__groug {
      width: 100%;
    }
  }
}
